export(bartc)
export(extract, refit)
export(plot_sigma, plot_est, plot_indiv, plot_support)

S3method(summary, bartcFit)
S3method(print, bartcFit)
S3method(print, bartcFit.summary)
S3method(fitted, bartcFit)
S3method(predict, bartcFit)
S3method(extract, bartcFit)
S3method(refit, bartcFit)


importFrom(dbarts, bart2, guessNumCores, xbart)

importFrom(methods, is)
importFrom(stats, glm, binomial, fitted, sd)
importFrom(stats, plogis, pnorm, qlogis, qnorm, qchisq)
importFrom(stats, quantile, setNames, coef)

importFrom(graphics, abline, hist, lines, plot)
importFrom(graphics, legend, mtext, par, points)
